body.centrar {
    text-align: center;
}

div.padding4{
     padding: 4%;
}

p.izquierda {
    text-align: left;
}

iframe.contenedor-enmedido{
    position: relative;
    top: 0;
    left: 0;
}

